@import './animations.less';
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	outline: none;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	transform-origin: left top;
	-webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	vertical-align: top;
}

a, p {
	word-break: break-all;
}

//  custom font family
@font-face { 
	font-family: 'fzlt'; 
	src:url('./fonts/fzlt.ttf'); 
} 

@font-face { 
	font-family: 'microsoft'; 
	src:url('./fonts/microsoft.ttf'); 
} 

@font-face { 
	font-family: 'sans'; 
	src:url('./fonts/sans.otf'); 
} 

@font-face { 
	font-family: 'sanslight'; 
	src:url('./fonts/sanslight.otf'); 
}

//  app
.app {
	position: relative;
	width: 3360px;
	height: 1200px;
	margin: 0 auto;

	* {
		z-index: 12;
	}
}	

@offset: 768px;

//  theme 
.chineseMixing {
	background: url('images/bg-ch.jpg') no-repeat;
}

.englishMixing {
	background: url('images/bg-en.jpg') no-repeat;
}

.chineseMixing,
.englishMixing {
	.data-ch {
		display: block;
	}
	.summary {
		.item01.rep {
			top: 328px;
			left: 123px;
		}
	
		.item02.rep {
			top: 414px;
			left: 120px;
		}
	
		.item03.rep {
			top: 465px;
			left: 121px;
		}
	
		.item04.rep {
			top: 702px;
			left: 175px;
		}
	
		&.active {
			.item.rep {
				opacity: 1;
				transform: translateX(0);
				transition: opacity .4s ease-out, transform .6s ease-in-out;
			}
			.item02.rep { transition-delay: .2s; }
			.item03.rep { transition-delay: .3s; }
			.item04.rep { transition-delay: .4s; }
		}
	}
}

.chinese {
	background: url('images/bg-ch.jpg') no-repeat;

	.data-ch {
		display: block;
	}

	.summary {
		.item01.ch {
			top: 356px;
			left: 141px;
		}
	
		.item02.ch {
			top: 432px;
			left: 141px;
		}
	
		.item03.ch {
			top: 510px;
			left: 150px;
		}
	
		&.active {
			.item.ch {
				opacity: 1;
				transform: translateX(0);
				transition: opacity .4s ease-out, transform .6s ease-in-out;
			}
			.item02.ch { transition-delay: .2s; }
			.item03.ch { transition-delay: .3s; }
			.item04.ch { transition-delay: .4s; }
		}
	}
}

.english {
	background: url('images/bg-en.jpg') no-repeat;

	.data-en {
		display: block;
	}
	
	.summary {
		.item01.en {
			top: 363px;
			left: 123px;
		}
	
		.item02.en {
			top: 472px;
			left: 133px;
		}
	
		&.active {
			.item.en {
				opacity: 1;
				transform: translateX(0);
				transition: opacity .4s ease-out, transform .6s ease-in-out;
			}
			.item02.en { transition-delay: .2s; }
		}
	}
}

//  summary
.summary {
	.item {
		opacity: 0;
		transform: translateX(-40px);
		position: absolute;
		z-index: 4;
	}

	.arrows {
		position: absolute;
		left: 585px;
		top: 868px;
		font-size: 0;

		&.active {
			.arrow {
				animation: arrow .4s forwards;
			}
		}
	}

	.arrow {
		opacity: 0;
	}

	.arrow01 { animation-delay: 0s!important; }
	.arrow02 { animation-delay: .5s!important; }
	.arrow03 { animation-delay: 1s!important; }
	.arrow04 { animation-delay: 1.5s!important; }
	.arrow05 { animation-delay: 2s!important; }
	.arrow06 { animation-delay: 2.5s!important; }
	.arrow07 { animation-delay: 3s!important; }
	.arrow08 { animation-delay: 3.5s!important; }
	.arrow09 { animation-delay: 4s!important; }
	.arrow10 { animation-delay: 4.5s!important; }

	@keyframes arrow {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}

.data {
	display: none;
	position: absolute;
	top: 965px;
	left: 1528px;
}

//  timeline
.icon, .icon2, .year, .para {
	opacity: 0;
	position: absolute;
}

.line {
	position: absolute;
	overflow: hidden;
	width: 100px;
	height: 0;
}

.timelines-bd {
	display: inline-block;
	width: 1px;
	height: 126px;
	background: url('images/timeline.png');
	transform: translateZ(0);
	transition: all 4.2s ease-in-out;
}

.year {
	font-family: 'fzlt';
	font-weight: bolder;
	font-size: 34px;
}

.para {
	line-height: 24px;
	font-family: 'fzlt';
	font-size: 20px;
}

.para2 {
	opacity: 0;
	position: absolute;
	line-height: 22px;
	font-family: 'sanslight';
	font-size: 20px;

	&.active {
		opacity: 1;
		transition: all 1.2s;
	}
}

.good2 {
	opacity: 0;

	&.active {
		opacity: 1;
		transition: all 3s;
	}
}

//  icon
.icon {
	position: absolute;

	img {
		position: absolute;
	}
}

//  dot
.dot {
	opacity: 0;
	position: absolute;
	width: 24px;
	height: 24px;
	border: 2px solid #436ea6;
	border-radius: 24px;
	background: #fff;

	span {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -5px 0 0 -5px;
		width: 10px;
		height: 10px;
		background: #436ea6;
		border-radius: 10px;
		overflow: hidden;
	}
}

.dot01 {
	&.breath {
		animation-timing-function:ease-in-out;
		animation-name:breath;
		animation-duration:2700ms;
		animation-iteration-count:infinite;
		animation-direction:alternate;
	}
}

@keyframes breath {
	0% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.1);
	}
}

// z-index
.particles-js-canvas-el {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.line {
	z-index: 2;
}

.timeline-c {
	z-index: 4;
}

.man, .map, .good, .year, .para, .icon {
	z-index: 6;
}

.man, .map, .good {
	opacity: 0;
	transition: all 1.2s;

	&.active {
		opacity: 1;
	}
}


//  设置擦图方向
.timeline01, .timeline03, .timeline05, .timeline07, .timeline08, .timeline10, .timeline12, .timeline14, .timeline16 {
	.line {
		img {
			position: absolute;
			bottom: 0;
		}
	}
}

.timeline01 {
	.line {
		left: (77 + @offset);
		bottom: 536px;
	}

	.year {
		left: 900px;
		top: 316px;
	}

	.para {
		width: 230px;
		left: 900px;
		top: 352px;
	}

	.para2 {
		width: 260px;
		left: 900px;
		top: 352px;
	}

	.map {
		position: absolute;
		left: 886px;
		top: 398px;
	}

	.man {
		position: absolute;
		left: 961px;
		top: 425px;
	}

	.dot01 {
		left: 836px;
		top: 599px;
	}

	.dot02 {
		left: 904px;
		top: 249px;
	}

	.icon {
		left: 941px;
		top: 208px;
	}

	.icon-main {
		left: 16px;
		top: 16px;
	}
}

.timeline02 {
	.line {
		left: (413 + @offset);
		top: 110px;
	}

	.year {
		left: 1259px;
		top: 97px;
	}

	.para {
		width: 320px;
		left: 1259px;
		top: 136px;
	}

	.para2 {
		width: 480px;
		left: 1259px;
		top: 136px;
	}

	.good {
		position: absolute;
		left: 1208px;
		top: 187px;
	}

	.good2 {
		left: 1194px;
	}

	.dot01 {
		left: 1168px;
		top: 656px;
	}

	.dot02 {
		left: 1200px;
		top: 104px;
	}

	.icon {
		left: 960px;
		top: 1041px;
	}

	.icon-main {
		left: 14px;
		top: 13px;
	}
}

.timeline03 {
	.line {
		left: (459 + @offset);
		bottom: 411px;
	}

	.year {
		left: 1117px;
		top: 825px;
	}

	.para {
		width: 316px;
		left: 881px;
		top: 867px;
	}

	.para2 {
		width: 265px;
		left: 941px;
		top: 867px;
	}

	.dot01 {
		left: 1233px;
		top: 678px;
	}

	.dot02 {
		left: 1206px;
		top: 781px;
	}

	.logo {
		display: none;
		position: absolute;
		left: 935px;
		top: 745px;
	}
}

.timeline04 {
	.more-icon {
		position: absolute;
		top: 959px;
		left: 1262px;
	}

	.line {
		left: (669 + @offset);
		bottom: 139px;
	}

	.year {
		left: 1365px;
		top: 833px;
	}

	.para {
		width: 230px;
		left: 1214px;
		top: 874px;
	}

	.para2 {
		width: 210px;
		left: 1244px;
		top: 874px;
	}

	.dot01 {
		left: 1461;
		top: 741px;
	}

	.dot02 {
		left: 1427px;
		top: 1042px;
	}

	.icon {
		left: 1328px;
		top: 1016px;
	}

	.icon-main {
		left: 4px;
		top: 4px;
	}
}

.timeline05 {
	.line {
		left: (791 + @offset);
		top: 483px;
	}

	.year {
		left: 1463px;
		top: 550px;
	}

	.para {
		width: 256px;
		left: 1277px;
		top: 587px;
	}

	.para2 {
		width: 345px;
		left: 1205px;
		top: 587px;
	}

	.good {
		position: absolute;
		left: 1696px;
		top: 273px;
	}

	.good2 {
		left: 1680px;
	}

	.dot01 {
		left: 1569px;
		top: 630px;
	}

	.dot02 {
		left: 1545px;
		top: 475px;
	}

	.icon {
		position: absolute;
		left: 1450px;
		top: 445px;

		img {
			position: absolute;
		}
	}

	.icon-main {
		left: 8px;
		top: 6px;
	}
}

.timeline06 {
	.line {
		left: (889 + @offset);
		top: 187px;
	}

	.year {
		left: 1734px;
		top: 102px;
	}

	.para {
		width: 245px;
		left: 1734px;
		top: 144px;
	}

	.para2 {
		width: 314px;
		left: 1734px;
		top: 144px;
	}

	.dot01 {
		left: 1653px;
		top: 623px;
	}

	.dot02 {
		left: 1696px;
		top: 178px;
	}

	.icon {
		left: 1574px;
		top: 866px;
	}

	.icon-main {
		left: 8px;
		top: 7px;
	}
}

.timeline07 {
	.line {
		left: (960 + @offset);
		bottom: 331px;
	}

	.year {
		left: 1628px;
		top: 734px;
	}

	.para {
		width: 266px;
		left: 1510px;
		top: 774px;
	}

	.para2 {
		width: 250px;
		left: 1490px;
		top: 774px;
	}

	.dot01 {
		left: 1729px;
		top: 680px;
	}

	.dot02 {
		left: 1705px;
		top: 857px;
	}

	.icon {
		left: 1856px;
		top: 848px;
	}

	.icon-main {
		left: 8px;
		top: 9px;
	}
}

.timeline08 {
	.line {
		left: (1034 + @offset);
		bottom: 363px;
	}

	.year {
		left: 1838px;
		top: 710px;
	}

	.para {
		width: 174px;
		left: 1838px;
		top: 749px;
	}

	.para2 {
		width: 170px;
		left: 1841px;
		top: 749px;
	}

	.dot01 {
		left: 1791px;
		top: 627px;
	}

	.dot02 {
		left: 1819px;
		top: 825px;
	}

	.icon {
		left: 2079px;
		top: 617px;
	}

	.icon-bg {
		left: 13px;
		top: 17px;
	}

	.icon-main {
		left: 22px;
		top: 26px;
	}

	.icon-bg2 {
		transform-origin: 49% 53%!important;
	}

	.more-icon {
		position: absolute;
		z-index: 2;
		top: 462px;
		left: 1204px;
	}
}

.timeline09 {
	.line {
		left: (1236 + @offset);
		top: 157px;
	}

	.year {
		left: 2057px;
		top: 201px;
	}

	.para {
		width: 274px;
		left: 2055px;
		top: 242px;
	}

	.para2 {
		width: 260px;
		left: 2055px;
		top: 238px;
	}

	.dot01 {
		left: 1991px;
		top: 666px;
	}

	.dot02 {
		left: 2059px;
		top: 153px;
	}

	.icon {
		left: 2119px;
		top: 474px;
	}

	.icon-main {
		left: 4px;
		top: 5px;
	}
}

.timeline10 {
	.line {
		left: (1270 + @offset);
		bottom: 302px;
	}

	.year {
		left: 2106px;
		top: 875px;
	}

	.para {
		width: 300px;
		left: 2105px;
		top: 915px;
	}

	.para2 {
		width: 290px;
		left: 2105px;
		top: 915px;
	}

	.good {
		position: absolute;
		left: 2190px;
		top: 661px;
	}

	.good2 {
		left: 2144px;
	}

	.dot01 {
		left: 2028px;
		top: 571px;
	}

	.dot02 {
		left: 2059px;
		top: 878px;
	}

	.icon {
		left: 2450px;
		top: 85px;
	}

	.icon-main {
		left: 9px;
		top: 7px;
	}
}

.timeline11 {
	.line {
		left: (1498 + @offset);
		top: 372px;
	}

	.year {
		left: 2123px;
		top: 354px;
	}

	.para {
		width: 240px;
		left: 2037px;
		top: 394px;
	}

	.para2 {
		width: 273px;
		left: 2020px;
		top: 394px;
	}

	.dot01 {
		left: 2290px;
		top: 607px;
	}

	.dot02 {
		left: 2255px;
		top: 359px;
	}

	.icon {
		left: 2489px;
		top: 485px;
	}

	.icon-main {
		left: 8px;
		top: 8px;
	}
}

.timeline12 {
	.line {
		left: (1596 + @offset);
		top: 131px;
	}

	.year {
		left: 2398px;
		top: 203px;
	}

	.para {
		width: 210px;
		left: 2396px;
		top: 245px;
	}

	.para2 {
		width: 210px;
		left: 2396px;
		top: 245px;
	}

	.dot01 {
		left: 2358px;
		top: 574px;
	}

	.dot02 {
		left: 2400px;
		top: 122px;
	}

	.icon {
		left: 2823px;
		top: 96px;
	}

	.icon-main {
		left: 14px;
		top: 14px;
	}

	.more-icon {
		position: absolute;
		z-index: 2;
		top: 254px;
		left: 2637px;
	}
}

.timeline13 {
	.line {
		left: (1865 + @offset);
		top: 404px;
	}

	.year {
		left: 2505px;
		top: 384px;
	}

	.para {
		width: 260px;
		left: 2386px;
		top: 435px;
	}

	.para2 {
		width: 246px;
		left: 2386px;
		top: 435px;
	}

	.dot01 {
		left: 2658px;
		top: 571px;
	}

	.dot02 {
		left: 2630px;
		top: 401px;
	}
}

.timeline14 {
	.line {
		left: (1966 + @offset);
		top: 134px;
	}

	.year {
		left: 2769px;
		top: 209px;
	}

	.para {
		width: 230px;
		left: 2768px;
		top: 251px;
	}

	.para2 {
		width: 450px;
		left: 2768px;
		top: 251px;
	}

	.dot01 {
		left: 2729px;
		top: 605px;
	}

	.dot02 {
		left: 2772px;
		top: 125px;
	}

	.icon {
		left: 2635px;
		top: 364px;
	}

	.icon-main {
		left: 14px;
		top: 14px;
	}
}

.timeline15 {
	.line {
		left: (1990 + @offset);
		bottom: 250px;
	}

	.year {
		left: 2677px;
		top: 805px;
	}

	.para {
		width: 338px;
		left: 2545px;
		top: 846px;
		word-wrap:break-word;

		&::after {
				display: inline-block;
				width: 100%;
				content: '';
				height: 0;
		}
	}

	.para2 {
		width: 235px;
		left: 2545px;
		top: 846px;
	}

	.dot01 {
		left: 2775px;
		top: 724px;
	}

	.dot02 {
		left: 2741px;
		top: 940px;
	}

	.icon {
		left: 2957px;
		top: 311px;
	}

	.icon-bg {
		left: 16px;
		top: 1px;
	}

	.icon-bg2 {
		transform-origin: 50% 42%!important;
	}

	.icon-main {
		left: 26px;
		top: 12px;
	}
}

.timeline16 {
	.line {
		left: (2083 + @offset);
		top: 363px;
	}

	.year {
		left: 2902px;
		top: 433px;
	}

	.para {
		width: 273px;
		left: 2903px;
		top: 480px;
		text-align: justify; 
	}

	.para2 {
		width: 320px;
		left: 2903px;
		top: 480px;
		word-wrap: break-word;
	}

	.dot01 {
		left: 2838px;
		top: 687px;
	}

	.dot02 {
		left: 2907px;
		top: 352px;
	}

	.icon {
		left: 2629px;
		top: 916px;
	}

	.icon-main {
		left: 17px;
		top: 17px;
	}
}

.timeline17 {
	.line {
		left: (2413 + @offset);
		bottom: 140px;
	}

	.year {
		left: 3088px;
		top: 745px;
	}

	.para {
		width: 300px;
		left: 2880px;
		top: 788px;
	}

	.para2 {
		width: 360px;
		left: 2820px;
		top: 788px;
	}

	.dot01 {
		left: 3180px;
		top: 651px;
	}

	.dot02 {
		left: 3180px;
		top: 1041px;
	}

	.icon {
		left: 3075px;
		top: 1046px;
	}

	.icon-main {
		left: 13px;
		top: 13px;
	}
}

.more-icon {
	display: none;
}

.upper {
	font-size: 12px;
	position: relative;
	top: -5px;
	font-family: Arial, Helvetica, sans-serif;
}